@inherits Umbraco.Web.Mvc.UmbracoViewPage<HomePage>
<section class="bg-accent-2">
    <section class="section parallax-container" data-parallax-img="../images/bg-image-2.jpg">
        <div class="parallax-content parallax-light">
            <div class="section-md text-center">
                <div class="container">
                    <h3 class="heading-decorated">Distinctive Recognition</h3>
                    <!-- Owl Carousel-->
                    <div class="owl-carousel owl-carousel_centered text-center" data-autoplay="true" data-items="1" data-sm-items="2" data-md-items="4" data-lg-items="5" data-stage-padding="15" data-loop="true" data-margin="30" data-mouse-drag="false" data-dots="true">
                        <div class="item"><a class="link-transparent" href="#"><img src="../images/brand-7-134x139.png" alt="" width="134" height="139" /></a></div>
                        <div class="item"><a class="link-transparent" href="#"><img src="../images/brand-8-162x83.png" alt="" width="162" height="83" /></a></div>
                        <div class="item"><a class="link-transparent" href="#"><img src="../images/brand-9-257x133.png" alt="" width="257" height="133" /></a></div>
                        <div class="item"><a class="link-transparent" href="#"><img src="../images/brand-10-115x116.png" alt="" width="115" height="116" /></a></div>
                        <div class="item"><a class="link-transparent" href="#"><img src="../images/brand-11-265x62.png" alt="" width="265" height="62" /></a></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
