@inherits Umbraco.Web.Mvc.UmbracoViewPage<HomePage>
<section class="section-lg bg-default text-center">
    <div class="container">
        <h3 class="heading-decorated">Featured News</h3>
        <div class="row row-50">
            <div class="col-md-6 col-lg-4">
                <!-- Post classic-->
                <article class="post-classic post-minimal">
                    <img src="../images/post-classic-2-418x315.jpg" alt="" width="418" height="315" />
                    <div class="post-classic-title">
                        <h5><a href="standard-post.html">Can you be fined with $1600 for missing a license plate decal?</a></h5>
                    </div>
                    <div class="post-meta">
                        <div class="group">
                            <a href="standard-post.html">
                                <time datetime="2017">Jan.20, 2016</time>
                            </a><a class="meta-author" href="standard-post.html">by Adam Smith</a>
                        </div>
                    </div>
                </article>
            </div>
            <div class="col-md-6 col-lg-4">
                <!-- Post classic-->
                <article class="post-classic post-minimal">
                    <img src="../images/post-classic-1-418x315.jpg" alt="" width="418" height="315" />
                    <div class="post-classic-title">
                        <h5><a href="nonstandard-post.html">2016 Texas Employment Law Update</a></h5>
                    </div>
                    <div class="post-meta">
                        <div class="group">
                            <a href="nonstandard-post.html">
                                <time datetime="2017">Jan.20, 2016</time>
                            </a><a class="meta-author" href="nonstandard-post.html">by Adam Smith</a>
                        </div>
                    </div>
                </article>
            </div>
            <div class="col-md-6 col-lg-4">
                <!-- Post classic-->
                <article class="post-classic post-minimal">
                    <img src="../images/post-classic-3-418x315.jpg" alt="" width="418" height="315" />
                    <div class="post-classic-title">
                        <h5><a href="standard-post.html">What the federal legal consequences of Florida's shooting wlll be?</a></h5>
                    </div>
                    <div class="post-meta">
                        <div class="group">
                            <a href="standard-post.html">
                                <time datetime="2017">Jan.20, 2016</time>
                            </a><a class="meta-author" href="standard-post.html">by Adam Smith      </a>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>
