@inherits Umbraco.Web.Mvc.UmbracoViewPage<HomePage>
 @if (Model.IsFeaturedNewsActive)
 {

    <section class="section-lg bg-default text-center">
        <div class="container">
            <h3 class="heading-decorated">@Model.NewsTitleMain</h3>
            <div class="row row-50">
               @foreach (var item in Model.FeaturedNewsItems)
               {
                    <div class="col-md-6 col-lg-4">
                        <!-- Post classic-->
                        <article class="post-classic post-minimal">
                            <img src="@Html.Raw(item.NewsImage != null ? item.NewsImage.GetCropUrl() : "../images/post-classic-2-418x315.jpg")" alt="" width="418" height="315" />
                            <div class="post-classic-title">
                                <h5><a href="standard-post.html">@item.NewsTitle</a></h5>
                                <h8>@item.NewsDescription</h8>
                            </div>
                    
                        </article>
                    </div>
               }
            </div>
        </div>
    </section>
 }