@inherits Umbraco.Web.Mvc.UmbracoViewPage

<section class="swiper-panel-wrap">
    <div class="swiper-container swiper-slider swiper-slider_fullheight swiper-slider_nav-responsive" data-simulate-touch="false" data-loop="true" data-autoplay="5500">
        <div class="swiper-wrapper">

            <div class="swiper-slide bg-accent-2" data-slide-bg="../images/slider-1-slide-1-1920x980.jpg">
                <div class="swiper-slide-caption text-center">
                    <div class="container">
                        <div class="row justify-content-lg-center">
                            <div class="col-lg-10 col-xxl-8">
                                <h3 class="heading-decorated" data-caption-animate="fadeInUpSmall">Professional Lawyer</h3>
                                <h1 data-caption-animate="fadeInUpSmall" data-caption-delay="200">Osnat Reich</h1>
                                <div class="group-lg group-middle"><a class="button button-primary" data-caption-animate="fadeInUpSmall" data-caption-delay="350" href="about-us.html">MORE INFO</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide bg-accent-2" data-slide-bg="../images/slider-1-slide-2-1920x980.jpg">
                <div class="swiper-slide-caption text-center">
                    <div class="container">
                        <div class="row justify-content-lg-center">
                            <div class="col-lg-10 col-xxl-8">
                                <h3 class="heading-decorated" data-caption-animate="fadeInUpSmall">We're Always Available for Customers with <br class="d-none d-md-block"> Emergent Lawyer Problems.</h3>
                                <p data-caption-animate="fadeInUpSmall" data-caption-delay="200">You can easily reach us 24/7 via the phone number below:</p>
                                <dl class="list-terms-inline heading-2" data-caption-animate="fadeInUpSmall" data-caption-delay="350">
                                    <dt>Tel </dt>
                                    <dd><a href="callto:#">1.555.123.2323</a></dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide bg-accent-2" data-slide-bg="../images/slider-1-slide-3-1920x980.jpg">
                <div class="swiper-slide-caption text-center">
                    <div class="container">
                        <div class="row justify-content-lg-center">
                            <div class="col-lg-10 col-xxl-8">
                                <h2 class="heading-decorated" data-caption-animate="fadeInUpSmall">Appointment</h2>
                                <p data-caption-animate="fadeInUpSmall" data-caption-delay="200">Booking an appointment at our law firm is as easy as it gets... </p>
                                <p data-caption-animate="fadeInUpSmall" data-caption-delay="200">You will be able to schedule a convenient time for your meeting with our lawyers with just 2 clicks!</p>
                                <div class="group-lg group-middle"><a class="button button-primary" data-caption-animate="fadeInUpSmall" data-caption-delay="350" href="book-an-appointment.html">BOOK AN APPOINTMENT</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- Swiper Pagination-->
        <div class="swiper-pagination"></div>
        <!-- Swiper Navigation-->
        <div class="swiper-button-prev linear-icon-chevron-left"></div>
        <div class="swiper-button-next linear-icon-chevron-right"></div>
    </div>
    <div class="swiper-panel section-sm bg-accent-2">
        <div class="container">
            <div class="row align-items-md-center row-custom-bordered">
                <div class="col-sm-6 col-md-3">
                    <!-- Counter modern-->
                    <article class="counter-modern">
                        <h4 class="counter-modern__value"><span class="counter">450</span><span>+</span></h4>
                        <p class="counter-modern__title">Trusting Clients</p>
                    </article>
                </div>
                <div class="col-sm-6 col-md-3">
                    <!-- Counter modern-->
                    <article class="counter-modern">
                        <h4 class="counter-modern__value"><span>$</span><span class="counter">14</span><span>,5 mln.</span></h4>
                        <p class="counter-modern__title">Won in Settlements</p>
                    </article>
                </div>
                <div class="col-sm-6 col-md-3">
                    <!-- Counter modern-->
                    <article class="counter-modern">
                        <h4 class="counter-modern__value"><span class="counter">98 </span><span>%</span></h4>
                        <p class="counter-modern__title">Cases Won</p>
                    </article>
                </div>
                <div class="col-sm-6 col-md-3">
                    <!-- Counter modern-->
                    <article class="counter-modern">
                        <h4 class="counter-modern__value"><span class="counter">25</span></h4>
                        <p class="counter-modern__title">Awards Won</p>
                    </article>
                </div>
            </div>
        </div>
    </div>
</section>