@inherits Umbraco.Web.Mvc.UmbracoViewPage<HomePage>
    @{
        var showHpWellcom = Model.ShowHpWellcom;

     }
@if (showHpWellcom) {
<section class="section-md bg-default text-center">
    <div class="container">
        <div class="row justify-content-lg-center">
            <div class="col-lg-10 col-xl-8">
                <article class="post-info">
                     @Model.WelcomeText
                </article>
            </div>
        </div>
    </div>
</section>
}