@inherits Umbraco.Web.Mvc.UmbracoViewPage<HomePage>

<!-- Our Legal Practice Areas-->
<section class="section-lg bg-default text-center">
    <div class="container">
        <div class="row justify-content-lg-center">
            <div class="col-lg-10 col-xl-8">
                <h3 class="heading-decorated">Our Legal Practice Areas:</h3>
            </div>
        </div>
        <ul class="list-indexed">
            <li>
                <div class="list-indexed__index"></div>
                <h5 class="list-indexed__title"><a href="single-practice.html">Labor & Employment Law</a></h5>
                <p>We'll be glad to deal with any kind of employment litigation issues, such as unlawful termination, wage hack or discrimination of any kind, which you might have encountered at your workplace...</p>
            </li>
            <li>
                <div class="list-indexed__index"></div>
                <h5 class="list-indexed__title"><a href="single-practice.html">Real Estate Law</a></h5>
                <p>The real property market nuances and the laws regulating it (such as estate taxing, e.g.) are one of our biggest field of work. We will be protecting your best interest whatever the case is!</p>
            </li>
            <li>
                <div class="list-indexed__index"></div>
                <h5 class="list-indexed__title"><a href="single-practice.html">Personal Injury</a></h5>
                <p>We're working with personal injuries, which are basically minor wrongful conduct torts, thus being out of the criminal hearings reach. We will become your defenders in any of  such civil litigations cases!</p>
            </li>
            <li>
                <div class="list-indexed__index"></div>
                <h5 class="list-indexed__title"><a href="single-practice.html">Business Litigation & Arbitration</a></h5>
                <p>We'll be glad to deal with any kind of employment litigation issues, such as unlawful termination, wage hack or discrimination of any kind, which you might have encountered at your workplace...</p>
            </li>
            <li>
                <div class="list-indexed__index"></div>
                <h5 class="list-indexed__title"><a href="single-practice.html">Insurance Law</a></h5>
                <p>The insurance marketplace has a lot of restrictions and limitations, which the insurance companies oftentimes try to use as the loopholes for getting away with not paying you. We will change that!</p>
            </li>
            <li>
                <div class="list-indexed__index"></div>
                <h5 class="list-indexed__title"><a href="single-practice.html">Mergers & Acquisitions</a></h5>
                <p>The commercial world of mergers & acquisitions is a harsh one. You'd better have a just as harsh team of sharky lawyers so that your business emerges as the winner in the court!</p>
            </li>
        </ul>
    </div>
</section>