@inherits Umbraco.Web.Mvc.UmbracoViewPage<HomePage>
<section class="bg-accent text-center">
    <section class="section parallax-container" data-parallax-img="../images/parallax-4.jpg">
        <div class="parallax-content parallax-light">
            <div class="container section-md">
                <h2 class="heading-decorated">Sign Up for Your <br class="d-none d-md-block"> FREE Legal Consultation</h2><a class="button button-gray-light-outline" href="book-an-appointment.html">BOOK AN APPOINTMENT</a>
            </div>
        </div>
    </section>
</section>
