@inherits Umbraco.Web.Mvc.UmbracoViewPage<IPublishedContent>
<section class="pre-footer-corporate bg-accent-2">
    <div class="container">
        <div class="row justify-content-sm-center justify-content-lg-start row-30 row-md-60">
            <div class="col-sm-10 col-md-6 col-lg-10 col-xl-3">
                <h6>About</h6>
                <p>Founded by a few seasoned New England lawyers back in 1999, today their small Law firm leads the race among other local firms in a percentage of cases won...But that kind of success comes in only when you input a lot of hard work, dedication, and excellent expertise in what you do...</p>
            </div>
            <div class="col-sm-10 col-md-6 col-lg-3 col-xl-3">
                <h6>Our Services</h6>
                <ul class="list-xxs list-primary">
                    <li><a href="single-practice.html">Labor & Employment Law</a></li>
                    <li><a href="single-practice.html">Real Estate Law</a></li>
                    <li><a href="single-practice.html">Personal Injury</a></li>
                    <li><a href="single-practice.html">Business litigation & arbitratio</a></li>
                    <li><a href="single-practice.html">Insurance Law</a></li>
                    <li><a href="single-practice.html">Mergers & Acquisitions</a></li>
                </ul>
            </div>
            <div class="col-sm-10 col-md-6 col-lg-5 col-xl-3">
                <h6>Recent Comments</h6>
                <ul class="list-xs">
                    <li>
                        <!-- Comment minimal-->
                        <article class="comment-minimal">
                            <p class="comment-minimal__author">Jourdan Saint-Yves on</p>
                            <p class="comment-minimal__link"><a href="standard-post.html">How Couples Decide To Divorce</a></p>
                        </article>
                    </li>
                    <li>
                        <!-- Comment minimal-->
                        <article class="comment-minimal">
                            <p class="comment-minimal__author">Adam Smith on</p>
                            <p class="comment-minimal__link"><a href="standard-post.html">How Couples Decide To Divorce</a></p>
                        </article>
                    </li>
                    <li>
                        <!-- Comment minimal-->
                        <article class="comment-minimal">
                            <p class="comment-minimal__author">Ann Smith on</p>
                            <p class="comment-minimal__link"><a href="../standard-post.html">What the federal legal consequences of Florida’s shooting wlll be?</a></p>
                        </article>
                    </li>
                </ul>
            </div>
            <div class="col-sm-10 col-md-6 col-lg-4 col-xl-3">
                <h6>Contacts</h6>
                <ul class="list-xs">
                    <li>
                        <dl class="list-terms-minimal">
                            <dt>Address</dt>
                            <dd>4578 Marmora Road, Glasgow, D04 89GR</dd>
                        </dl>
                    </li>
                    <li>
                        <dl class="list-terms-minimal">
                            <dt>Phones</dt>
                            <dd>
                                <ul class="list-semicolon">
                                    <li><a href="callto:#">(800) 123-0045</a></li>
                                    <li><a href="callto:#">(800) 123-0045</a></li>
                                </ul>
                            </dd>
                        </dl>
                    </li>
                    <li>
                        <dl class="list-terms-minimal">
                            <dt>E-mail</dt>
                            <dd><a href="mailto:#">info@demolink.org</a></dd>
                        </dl>
                    </li>
                    <li>
                        <dl class="list-terms-minimal">
                            <dt>We are open</dt>
                            <dd>Mn-Fr: 10 am-8 pm</dd>
                        </dl>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
