@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.InnerPage>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
	Layout = "MasterPage.cshtml";
}

 

      <section class="bg-accent-2">
        <section class="section parallax-container" data-parallax-img="~/images/parallax-2.jpg">
          <div class="parallax-content parallax-header">
            <div class="parallax-header__inner">
              <div class="parallax-header__content">
                <div class="container">
                  <div class="row justify-content-md-center">
                    <div class="col-md-10 col-xl-8">
                      <h1 class="heading-decorated heading-decorated_center">About</h1>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </section>

      <!-- Intro-->
      <section class="section-md bg-default text-center">
        <div class="container">
          <div class="row row-50 justify-content-lg-center">
            <div class="col-lg-10 col-xl-8">
              <h3 class="heading-decorated">Welcome to Jerry Robinson's Law office</h3>
              <h6>Founded by Steven Pfeiffer, Lesley Dingle and Gerald Harrison back in 1989, today their Houston-based law firm is currently the #1 in both yearly cases dealt with and the percentage of all those cases being won.</h6>
              <p>But that kind of success does not come by, just when you sit idly or do not have strict work ethic principles being put into practice...</p>
            </div>
          </div>
        </div>
      </section>

      <!-- Our Values-->
      <section class="section-md bg-accent-2 text-center">
        <div class="container">
          <div class="row row-50 justify-content-lg-center">
            <div class="col-sm-12">
              <h3 class="heading-decorated">We've Always Cherished the Three Pillars Which our <br class="d-none d-md-block"> Company has Always Stood Upon:</h3>
            </div>
            <div class="col-sm-12">
              <div class="row row-40">
                <div class="col-md-6 col-lg-4">
                  <!-- Blurb tiny-->
                  <article class="blurb-tiny blurb-tiny_centered">
                    <div class="blurb-tiny__icon linear-icon-medal-empty"></div>
                    <h5 class="blurb-tiny__title">A Commitment to Excellence</h5>
                  </article>
                </div>
                <div class="col-md-6 col-lg-4">
                  <!-- Blurb tiny-->
                  <article class="blurb-tiny blurb-tiny_centered">
                    <div class="blurb-tiny__icon linear-icon-balance"></div>
                    <h5 class="blurb-tiny__title">A Passion for Justice</h5>
                  </article>
                </div>
                <div class="col-md-6 col-lg-4">
                  <!-- Blurb tiny-->
                  <article class="blurb-tiny blurb-tiny_centered">
                    <div class="blurb-tiny__icon linear-icon-thumbs-up"></div>
                    <h5 class="blurb-tiny__title">An urge for fair pricing</h5>
                  </article>
                </div>
              </div>
            </div>
            <div class="col-xl-8">
              <p>These three have proven to:  Earn our clients' trust with us;   Build our reputation on a good soil:   Attract thousands of individuals and businesses, all of whom (98%) have successfully dealt with their legal conundrums with our timely and diligent help...</p>
            </div>
          </div>
        </div>
      </section>

      <!-- We Stand by:-->
      <section class="section-lg bg-gray-lighter text-center">
        <div class="container">
          <h3 class="heading-decorated">We Stand by:</h3>
          <ul class="list-indexed">
            <li>
              <div class="list-indexed__index"></div>
              <h5 class="list-indexed__title">A Commitment to Excellence</h5>
              <p>While the yearly number of cases which we take totals to an insurmountable number, unparalleled by any other Houston, TX law firm, our percentage of wins is record-breaking too... Just to drop some statistics here, in more than 9000 cases that we have ever taken on, a whopping 98% of those (which is 9800+) were the cases which we eventually won...</p>
            </li>
            <li>
              <div class="list-indexed__index"></div>
              <h5 class="list-indexed__title">A Passion for Justice</h5>
              <p>With our legal principles and our desire for justice being our first and foremost value, we always try to diversify the range of cases which we take on. That is perfectly shown when you notice that our civil/business cases are divided absolutely evenly. That means that besides helping good, big and small businesses we also help thousands of small men and women!</p>
            </li>
            <li>
              <div class="list-indexed__index"></div>
              <h5 class="list-indexed__title">An Urge for Fair Pricing</h5>
              <p>On par with our passion for justice and excellence, the third work ethic which we stand by is the fair pricing. While we have the most winning cases as opposed to any other Houston, TX law firm, we've also got the lowest pricing among them all. That is due to the simple fact, that in our opinion, a decent lawyer should charge a price that is nation-wide affordable!</p>
            </li>
          </ul>
        </div>
      </section>

      <!-- Lawyers and Paralegals-->
      <section class="section-lg bg-default text-center">
        <div class="container">
          <h3 class="heading-decorated">Lawyers and Paralegals</h3>
          <div class="row row-50">
            <div class="col-md-6 col-lg-4 col-xl-3">
              <!-- Thumb corporate-->
              <div class="thumb thumb-corporate"><img src="~/images/jerry-robinson-301x301.jpg" alt="" width="301" height="301"/>
                <div class="thumb-corporate__caption">
                  <p class="thumb__title"><a href="team-member-profile.html">Jerry Robinson</a></p>
                  <p class="thumb__subtitle">CEO Lawyer</p>
                  <p>Jerry represents and counsels owners and investors in a range of complex commercial real estate transactions throughout the United States, including the representation of owners</p>
                  <ul class="list-inline-sm thumb-corporate__list">
                    <li><a class="icon icon-sm fa-facebook" href="#"></a></li>
                    <li><a class="icon icon-sm fa-twitter" href="#"></a></li>
                    <li><a class="icon icon-sm fa-google-plus" href="#"></a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3">
              <!-- Thumb corporate-->
              <div class="thumb thumb-corporate"><img src="~/images/leslie-gross-301x301.jpg" alt="" width="301" height="301"/>
                <div class="thumb-corporate__caption">
                  <p class="thumb__title"><a href="team-member-profile.html">Leslie Gross</a></p>
                  <p class="thumb__subtitle">Lawyer</p>
                  <p>Leslie Lesley is our managing partner, co-founder, and Texas' leading civil litigation lawyer... She is a proof that female lawyers are just as good and</p>
                  <ul class="list-inline-sm thumb-corporate__list">
                    <li><a class="icon icon-sm fa-facebook" href="#"></a></li>
                    <li><a class="icon icon-sm fa-twitter" href="#"></a></li>
                    <li><a class="icon icon-sm fa-google-plus" href="#"></a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3">
              <!-- Thumb corporate-->
              <div class="thumb thumb-corporate"><img src="~/images/dana-sims-301x301.jpg" alt="" width="301" height="301"/>
                <div class="thumb-corporate__caption">
                  <p class="thumb__title"><a href="team-member-profile.html">Dana Sims</a></p>
                  <p class="thumb__subtitle">Lawyer</p>
                  <p>Dana is Lesley's brother, an Ivy League graduate and a proven lawyer, who've worked both in NYC and Texas during his 45 years long career...</p>
                  <ul class="list-inline-sm thumb-corporate__list">
                    <li><a class="icon icon-sm fa-facebook" href="#"></a></li>
                    <li><a class="icon icon-sm fa-twitter" href="#"></a></li>
                    <li><a class="icon icon-sm fa-google-plus" href="#"></a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3">
              <!-- Thumb corporate-->
              <div class="thumb thumb-corporate"><img src="~/images/kimberly-barker-301x301.jpg" alt="" width="301" height="301"/>
                <div class="thumb-corporate__caption">
                  <p class="thumb__title"><a href="team-member-profile.html">Kimberly Barker</a></p>
                  <p class="thumb__subtitle">Lawyer</p>
                  <p>Kimberly comes from a real legal dynasty. Just like the previous 7 generations of her kin, she's a lawyer and a pretty good one. Her</p>
                  <ul class="list-inline-sm thumb-corporate__list">
                    <li><a class="icon icon-sm fa-facebook" href="#"></a></li>
                    <li><a class="icon icon-sm fa-twitter" href="#"></a></li>
                    <li><a class="icon icon-sm fa-google-plus" href="#"></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="section parallax-container bg-accent-2 text-center" data-parallax-img="~/images/parallax-5.jpg">
        <div class="parallax-content">
          <div class="section-xl text-center">
            <div class="container">
              <div class="row justify-content-sm-center row-60">
                <div class="col-md-4 col-xl-3">
                  <!-- Circle Progress Bar-->
                  <div class="progress-bar-circle" data-value="0.45" data-gradient="#cca776, #cca776" data-empty-fill="#fff" data-size="141" data-thickness="5"><span></span></div>
                  <div class="progress-bar-circle-title">A percentage of individual cases that we take yearly, on average</div>
                </div>
                <div class="col-md-4 col-xl-3">
                  <!-- Circle Progress Bar-->
                  <div class="progress-bar-circle" data-value="0.60" data-gradient="#cca776, #cca776" data-empty-fill="#fff" data-size="141" data-thickness="5"><span></span></div>
                  <div class="progress-bar-circle-title">A share of commercial/business cases that we process yearly</div>
                </div>
                <div class="col-md-4 col-xl-3">
                  <!-- Circle Progress Bar-->
                  <div class="progress-bar-circle" data-value="0.80" data-gradient="#cca776, #cca776" data-empty-fill="#fff" data-size="141" data-thickness="5"><span></span></div>
                  <div class="progress-bar-circle-title">This is how many cases we end up winning, either civil or commercial</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- Call to Action-->
      <section class="section-md bg-accent text-center">
        <div class="container">
          <h3 class="heading-decorated">Are You a Senior at a Law School or a Post-graduate <br class="d-none d-md-block"> with at Least a Masters Degree in Law?</h3>
          <p class="heaing-6">If either of the answers is yes, than we've got a job opening waiting for you to apply!</p><a class="button button-black" href="contacts.html">Careers</a>
        </div>
      </section>

      <!-- Contact Us-->
      <section class="section-lg bg-default text-center">
        <div class="container">
          <h3 class="heading-decorated"></h3>
          <div class="row justify-content-lg-center">
            <div class="col-lg-10 col-xl-8">
              <h3>Contact Us</h3>
              <!-- RD Mailform-->
              <form class="rd-mailform rd-mailform_style-1 text-center" data-form-output="form-output-global" data-form-type="contact" method="post" action="bat/rd-mailform.php">
                <div class="form-wrap form-wrap_icon linear-icon-man">
                  <input class="form-input" id="contact-name" type="text" name="name" data-constraints="">
                  <label class="form-label" for="contact-name">Your name</label>
                </div>
                <div class="form-wrap form-wrap_icon linear-icon-envelope">
                  <input class="form-input" id="contact-email" type="email" name="email" data-constraints="">
                  <label class="form-label" for="contact-email">Your e-mail</label>
                </div>
                <div class="form-wrap form-wrap_icon linear-icon-telephone">
                  <input class="form-input" id="contact-phone" type="text" name="phone" data-constraints="">
                  <label class="form-label" for="contact-phone">Your phone</label>
                </div>
                <div class="form-wrap form-wrap_icon linear-icon-feather">
                  <textarea class="form-input" id="contact-message" name="message" data-constraints=""></textarea>
                  <label class="form-label" for="contact-message">Your message</label>
                </div>
                <button class="button button-primary" type="submit">send</button>
              </form>
            </div>
          </div>
        </div>
      </section>

    