@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.StandardPost>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
    Layout = "MasterPage.cshtml";
}
<section class="bg-default">
    <div class="container">
        <div class="row justify-content-sm-center">
            <div class="col-lg-8 section-divided__main section-divided__main_full">
                <section class="post-single-body section-sm">
                    <h1>@Model.PageTitle</h1><img src="images/post-standard-1-886x667.jpg" alt="" width="886" height="667" />
                    <h5>@Model.PageShortDescription</h5>
                    @Model.PageContent
                </section>
                @*<section class="section-sm">
                    <div class="row row-60 justify-content-md-between">
                        <div class="col-md-5 text-md-left">
                            <a class="unit flex-row unit-spacing-md align-items-center" href="standard-post.html">
                                <div class="unit__left"><span class="icon icon-md linear-icon-arrow-left"></span></div>
                                <div class="unit__body">
                                    <p class="small">Can you be fined with $1600 for missing a license plate decal?</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-5 text-md-right">
                            <a class="unit flex-row unit-spacing-md align-items-center" href="video-post.html">
                                <div class="unit__body">
                                    <p class="small">Plan ahead to avoid driving under the influence and DUI accidents</p>
                                </div>
                                <div class="unit__right"><span class="icon icon-md linear-icon-arrow-right"></span></div>
                            </a>
                        </div>
                    </div>
                </section>*@
                <!--<section class="section-sm">
                    <h5>Latest Posts</h5>
                    <div class="row row-60">
                        <div class="col-md-6">-->
                            <!-- Post classic-->
                            <!--<article class="post-classic post-minimal">
                                <img src="images/post-classic-1-886x668.jpg" alt="" width="886" height="668" />
                                <div class="post-classic-title">
                                    <h5><a href="nonstandard-post.html">2016 Texas Employment Law Update</a></h5>
                                </div>
                                <div class="post-meta">
                                    <div class="group">
                                        <a href="image-post.html">
                                            <time datetime="2017">Jan.20, 2016</time>
                                        </a><a class="meta-author" href="image-post.html">by Adam Smith</a>
                                    </div>
                                </div>
                            </article>
                        </div>
                        <div class="col-md-6">-->
                            <!-- Post classic-->
                            <!--<article class="post-classic post-minimal">
                                <img src="images/gallery-post-1-886x668.jpg" alt="" width="886" height="668" />
                                <div class="post-classic-title">
                                    <h5><a href="image-post.html">Welcome to Jerry Robinson's Law office</a></h5>
                                </div>
                                <div class="post-meta">
                                    <div class="group">
                                        <a href="image-post.html">
                                            <time datetime="2017">Jan.20, 2016</time>
                                        </a><a class="meta-author" href="image-post.html">by Adam Smith</a>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                </section>-->
                <section class="section-sm">
                    <!-- Blurb minimal-->
                    <article class="blurb">
                        <div class="unit flex-sm-row unit-spacing-md">
                            <div class="unit__left">
                                <img class="img-circle" src="images/post-author-109x109.jpg" alt="" width="109" height="109" />
                            </div>
                            <div class="unit__body">
                                <p class="blurb__title">About the author</p>
                                <p class="small">Mr.Williamson was born in one of Detroit’s poorest blocks, all before pursuing his successful managerial career in the future. For him, the breakthrough happened when he was able to get on Harvard University’s Law School list. After graduating from there, he was working for a few years for a number of multi-million dollar corporations, climbing up the corporate ladder and...</p>
                            </div>
                        </div>
                    </article>
                </section>
                @*<section class="section-sm">
                    <h5>3 Comments</h5>
                    <div class="box-comment">
                        <div class="unit flex-sm-row unit-spacing-md">
                            <div class="unit__left">
                                <div class="box-comment__icon"><span class="icon linear-icon-man"></span></div>
                            </div>
                            <div class="unit__body">
                                <div class="box-comment__body">
                                    <h6>Adam Smith</h6>
                                    <time datetime="2017">Jul 18, 2016</time>
                                    <p>It doesn’t get any more difficult to divorce and split the property than in the Bear state…</p><a href="#">Reply</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-comment box-comment-reply">
                        <div class="unit flex-sm-row unit-spacing-md">
                            <div class="unit__left">
                                <img class="rounded-circle" src="images/box-comment-1-70x70.jpg" alt="" width="70" height="70" />
                            </div>
                            <div class="unit__body" style="width: 100%">
                                <div class="box-comment__body">
                                    <h6>Adam Smith</h6>
                                    <time datetime="2017">Jul 18, 2016</time>
                                    <p>Believe me, as a divorce lawyer in Alabama I strongly disagree!</p><a href="#">Reply</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-comment">
                        <div class="unit flex-sm-row unit-spacing-md">
                            <div class="unit__left">
                                <div class="box-comment__icon"><span class="icon linear-icon-man"></span></div>
                            </div>
                            <div class="unit__body">
                                <div class="box-comment__body">
                                    <h6>Tom</h6>
                                    <time datetime="2017">Jul 18, 2016</time>
                                    <p>Wow, it's very important information.</p><a href="#">Reply</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>*@
                <section class="section-sm">
                    <h3>Leave a reply</h3>
                    <p>Your email address will not be published. Required fields are marked *</p>
                    <!-- RD Mailform-->
                    <form class="rd-mailform rd-mailform_style-1 text-left" data-form-output="form-output-global" data-form-type="contact" method="post" action="bat/rd-mailform.php">
                        <div class="form-wrap form-wrap_icon linear-icon-man">
                            <input class="form-input" id="contact-name" type="text" name="name" data-constraints="">
                            <label class="form-label" for="contact-name">Your name *</label>
                        </div>
                        <div class="form-wrap form-wrap_icon linear-icon-envelope">
                            <input class="form-input" id="contact-email" type="email" name="email" data-constraints="">
                            <label class="form-label" for="contact-email">Your e-mail *</label>
                        </div>
                        <div class="form-wrap form-wrap_icon linear-icon-earth">
                            <input class="form-input" id="contact-website" type="text" name="website">
                            <label class="form-label" for="contact-website">Your website</label>
                        </div>
                        <div class="form-wrap form-wrap_icon linear-icon-feather">
                            <textarea class="form-input" id="contact-message" name="message" data-constraints=""></textarea>
                            <label class="form-label" for="contact-message">Your message *</label>
                        </div>
                        <button class="button button-primary" type="submit">SUBMIT COMMENT</button>
                    </form>
                </section>
            </div>
        </div>
    </div>
</section>